DB_USER=postgres.fbgpk************
DB_PASSWORD=*****
DB_HOST=aws-1*****r.supabase.com
DB_PORT=6543
DB_NAME=postgres

SUPABASE_URL=https://*****.supabase.co
SUPABASE_KEY=your-secret-key
SUPABASE_JWT_SECRET=secret
HF_TOKEN=hf_**********